<?xml version="1.0" encoding="UTF-8"?>
	<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
		"http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>

	<bean id="internalTransferDao" class="cn.suntak.ems.internaltransfer.dao.hibernate.InternalTransferDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="internalTransferService" parent="txProxyTemplate">
		<property name="target">
			<bean class="cn.suntak.ems.internaltransfer.service.impl.InternalTransferServiceImpl">
			</bean>
		</property>
	</bean>
</beans>