/**
 * 应用的图标
 * 作者：CD826 2012-08-21
 */
[class^="app-icon"],[class*=" app-icon"] ,.app-icon {
	display: inline-block;
	overflow: hidden;
	width: 16px; 
	height: 16px; 
	background-image: url(appIcons/app-icons-16x16.png);
	background-repeat: no-repeat;
	background-position:0 0;
	vertical-align: middle;
}

.app-icon-64 {
	display: inline-block;
	overflow: hidden;
	width: 64px; 
	height: 64px; 
	background-image: url(appIcons/app-icons-64x64.png);
	background-repeat: no-repeat;
	background-position:0 0;
	vertical-align: middle;
}

.app-icon.app-icon-0000 {background-position:0 0;}

.app-icon.app-icon-0001 {background-position:-16px 0;}
.app-icon.app-icon-0002 {background-position:-32px 0;}
.app-icon.app-icon-0003 {background-position:-48px 0;}
.app-icon.app-icon-0004 {background-position:-64px 0;}
.app-icon.app-icon-0005 {background-position:-80px 0;}
.app-icon.app-icon-0006 {background-position:-96px 0;}
.app-icon.app-icon-0007 {background-position:-112px 0;}
.app-icon.app-icon-0008 {background-position:-128px 0;}
.app-icon.app-icon-0009 {background-position:-144px 0;}
.app-icon.app-icon-0010 {background-position:-160px 0;}
.app-icon.app-icon-0011 {background-position:-176px 0;}
.app-icon.app-icon-0012 {background-position:-192px 0;}
.app-icon.app-icon-0013 {background-position:-208px 0;}
.app-icon.app-icon-0014 {background-position:-224px 0;}
.app-icon.app-icon-0015 {background-position:-240px 0;}
.app-icon.app-icon-0016 {background-position:-256px 0;}
.app-icon.app-icon-0017 {background-position:-272px 0;}
.app-icon.app-icon-0018 {background-position:-288px 0;}
.app-icon.app-icon-0019 {background-position:-304px 0;}
.app-icon.app-icon-0020 {background-position:-320px 0;}

.app-icon.app-icon-0100 {background-position:0 -16px;}
.app-icon.app-icon-0101 {background-position:-16px -16px;}
.app-icon.app-icon-0102 {background-position:-32px -16px;}
.app-icon.app-icon-0103 {background-position:-48px -16px;}
.app-icon.app-icon-0104 {background-position:-64px -16px;}
.app-icon.app-icon-0105 {background-position:-80px -16px;}
.app-icon.app-icon-0106 {background-position:-96px -16px;}
.app-icon.app-icon-0107 {background-position:-112px -16px;}
.app-icon.app-icon-0108 {background-position:-128px -16px;}
.app-icon.app-icon-0109 {background-position:-144px -16px;}
.app-icon.app-icon-0110 {background-position:-160px -16px;}
.app-icon.app-icon-0111 {background-position:-176px -16px;}
.app-icon.app-icon-0112 {background-position:-192px -16px;}
.app-icon.app-icon-0113 {background-position:-208px -16px;}
.app-icon.app-icon-0114 {background-position:-224px -16px;}
.app-icon.app-icon-0115 {background-position:-240px -16px;}
.app-icon.app-icon-0116 {background-position:-256px -16px;}
.app-icon.app-icon-0117 {background-position:-272px -16px;}
.app-icon.app-icon-0118 {background-position:-288px -16px;}
.app-icon.app-icon-0119 {background-position:-304px -16px;}
.app-icon.app-icon-0120 {background-position:-320px -16px;}

.app-icon.app-icon-0200 {background-position:0 -32px;}
.app-icon.app-icon-0201 {background-position:-16px -32px;}
.app-icon.app-icon-0202 {background-position:-32px -32px;}
.app-icon.app-icon-0203 {background-position:-48px -32px;}
.app-icon.app-icon-0204 {background-position:-64px -32px;}
.app-icon.app-icon-0205 {background-position:-80px -32px;}
.app-icon.app-icon-0206 {background-position:-96px -32px;}
.app-icon.app-icon-0207 {background-position:-112px -32px;}
.app-icon.app-icon-0208 {background-position:-128px -32px;}
.app-icon.app-icon-0209 {background-position:-144px -32px;}
.app-icon.app-icon-0210 {background-position:-160px -32px;}
.app-icon.app-icon-0211 {background-position:-176px -32px;}
.app-icon.app-icon-0212 {background-position:-192px -32px;}
.app-icon.app-icon-0213 {background-position:-208px -32px;}
.app-icon.app-icon-0214 {background-position:-224px -32px;}
.app-icon.app-icon-0215 {background-position:-240px -32px;}
.app-icon.app-icon-0216 {background-position:-256px -32px;}
.app-icon.app-icon-0217 {background-position:-272px -32px;}
.app-icon.app-icon-0218 {background-position:-288px -32px;}
.app-icon.app-icon-0219 {background-position:-304px -32px;}
.app-icon.app-icon-0220 {background-position:-320px -32px;}

.app-icon.app-icon-0300 {background-position:0 -48px;}
.app-icon.app-icon-0301 {background-position:-16px -48px;}
.app-icon.app-icon-0302 {background-position:-32px -48px;}
.app-icon.app-icon-0303 {background-position:-48px -48px;}
.app-icon.app-icon-0304 {background-position:-64px -48px;}
.app-icon.app-icon-0305 {background-position:-80px -48px;}
.app-icon.app-icon-0306 {background-position:-96px -48px;}
.app-icon.app-icon-0307 {background-position:-112px -48px;}
.app-icon.app-icon-0308 {background-position:-128px -48px;}
.app-icon.app-icon-0309 {background-position:-144px -48px;}
.app-icon.app-icon-0310 {background-position:-160px -48px;}
.app-icon.app-icon-0311 {background-position:-176px -48px;}
.app-icon.app-icon-0312 {background-position:-192px -48px;}
.app-icon.app-icon-0313 {background-position:-208px -48px;}
.app-icon.app-icon-0314 {background-position:-224px -48px;}
.app-icon.app-icon-0315 {background-position:-240px -48px;}
.app-icon.app-icon-0316 {background-position:-256px -48px;}
.app-icon.app-icon-0317 {background-position:-272px -48px;}
.app-icon.app-icon-0318 {background-position:-288px -48px;}
.app-icon.app-icon-0319 {background-position:-304px -48px;}
.app-icon.app-icon-0320 {background-position:-320px -48px;}

.app-icon.app-icon-0400 {background-position:0 -64px;}
.app-icon.app-icon-0401 {background-position:-16px -64px;}
.app-icon.app-icon-0402 {background-position:-32px -64px;}
.app-icon.app-icon-0403 {background-position:-48px -64px;}
.app-icon.app-icon-0404 {background-position:-64px -64px;}
.app-icon.app-icon-0405 {background-position:-80px -64px;}
.app-icon.app-icon-0406 {background-position:-96px -64px;}
.app-icon.app-icon-0407 {background-position:-112px -64px;}
.app-icon.app-icon-0408 {background-position:-128px -64px;}
.app-icon.app-icon-0409 {background-position:-144px -64px;}
.app-icon.app-icon-0410 {background-position:-160px -64px;}
.app-icon.app-icon-0411 {background-position:-176px -64px;}
.app-icon.app-icon-0412 {background-position:-192px -64px;}
.app-icon.app-icon-0413 {background-position:-208px -64px;}
.app-icon.app-icon-0414 {background-position:-224px -64px;}
.app-icon.app-icon-0415 {background-position:-240px -64px;}
.app-icon.app-icon-0416 {background-position:-256px -64px;}
.app-icon.app-icon-0417 {background-position:-272px -64px;}
.app-icon.app-icon-0418 {background-position:-288px -64px;}
.app-icon.app-icon-0419 {background-position:-304px -64px;}
.app-icon.app-icon-0420 {background-position:-320px -64px;}

.app-icon.app-icon-0500 {background-position:0 -80px;}
.app-icon.app-icon-0501 {background-position:-16px -80px;}
.app-icon.app-icon-0502 {background-position:-32px -80px;}
.app-icon.app-icon-0503 {background-position:-48px -80px;}
.app-icon.app-icon-0504 {background-position:-64px -80px;}
.app-icon.app-icon-0505 {background-position:-80px -80px;}
.app-icon.app-icon-0506 {background-position:-96px -80px;}
.app-icon.app-icon-0507 {background-position:-112px -80px;}
.app-icon.app-icon-0508 {background-position:-128px -80px;}
.app-icon.app-icon-0509 {background-position:-144px -80px;}
.app-icon.app-icon-0510 {background-position:-160px -80px;}
.app-icon.app-icon-0511 {background-position:-176px -80px;}
.app-icon.app-icon-0512 {background-position:-192px -80px;}
.app-icon.app-icon-0513 {background-position:-208px -80px;}
.app-icon.app-icon-0514 {background-position:-224px -80px;}
.app-icon.app-icon-0515 {background-position:-240px -80px;}
.app-icon.app-icon-0516 {background-position:-256px -80px;}
.app-icon.app-icon-0517 {background-position:-272px -80px;}
.app-icon.app-icon-0518 {background-position:-288px -80px;}
.app-icon.app-icon-0519 {background-position:-304px -80px;}
.app-icon.app-icon-0520 {background-position:-320px -80px;}

.app-icon.app-icon-0600 {background-position:0 -96px;}
.app-icon.app-icon-0601 {background-position:-16px -96px;}
.app-icon.app-icon-0602 {background-position:-32px -96px;}
.app-icon.app-icon-0603 {background-position:-48px -96px;}
.app-icon.app-icon-0604 {background-position:-64px -96px;}
.app-icon.app-icon-0605 {background-position:-80px -96px;}
.app-icon.app-icon-0606 {background-position:-96px -96px;}
.app-icon.app-icon-0607 {background-position:-112px -96px;}
.app-icon.app-icon-0608 {background-position:-128px -96px;}
.app-icon.app-icon-0609 {background-position:-144px -96px;}
.app-icon.app-icon-0610 {background-position:-160px -96px;}
.app-icon.app-icon-0611 {background-position:-176px -96px;}
.app-icon.app-icon-0612 {background-position:-192px -96px;}
.app-icon.app-icon-0613 {background-position:-208px -96px;}
.app-icon.app-icon-0614 {background-position:-224px -96px;}
.app-icon.app-icon-0615 {background-position:-240px -96px;}
.app-icon.app-icon-0616 {background-position:-256px -96px;}
.app-icon.app-icon-0617 {background-position:-272px -96px;}
.app-icon.app-icon-0618 {background-position:-288px -96px;}
.app-icon.app-icon-0619 {background-position:-304px -96px;}
.app-icon.app-icon-0620 {background-position:-320px -96px;}

.app-icon.app-icon-0700 {background-position:0 -112px;}
.app-icon.app-icon-0701 {background-position:-16px -112px;}
.app-icon.app-icon-0702 {background-position:-32px -112px;}
.app-icon.app-icon-0703 {background-position:-48px -112px;}
.app-icon.app-icon-0704 {background-position:-64px -112px;}
.app-icon.app-icon-0705 {background-position:-80px -112px;}
.app-icon.app-icon-0706 {background-position:-96px -112px;}
.app-icon.app-icon-0707 {background-position:-112px -112px;}
.app-icon.app-icon-0708 {background-position:-128px -112px;}
.app-icon.app-icon-0709 {background-position:-144px -112px;}
.app-icon.app-icon-0710 {background-position:-160px -112px;}
.app-icon.app-icon-0711 {background-position:-176px -112px;}
.app-icon.app-icon-0712 {background-position:-192px -112px;}
.app-icon.app-icon-0713 {background-position:-208px -112px;}
.app-icon.app-icon-0714 {background-position:-224px -112px;}
.app-icon.app-icon-0715 {background-position:-240px -112px;}
.app-icon.app-icon-0716 {background-position:-256px -112px;}
.app-icon.app-icon-0717 {background-position:-272px -112px;}
.app-icon.app-icon-0718 {background-position:-288px -112px;}
.app-icon.app-icon-0719 {background-position:-304px -112px;}
.app-icon.app-icon-0720 {background-position:-320px -112px;}

.app-icon.app-icon-0800 {background-position:0 -128px;}
.app-icon.app-icon-0801 {background-position:-16px -128px;}
.app-icon.app-icon-0802 {background-position:-32px -128px;}
.app-icon.app-icon-0803 {background-position:-48px -128px;}
.app-icon.app-icon-0804 {background-position:-64px -128px;}
.app-icon.app-icon-0805 {background-position:-80px -128px;}
.app-icon.app-icon-0806 {background-position:-96px -128px;}
.app-icon.app-icon-0807 {background-position:-112px -128px;}
.app-icon.app-icon-0808 {background-position:-128px -128px;}
.app-icon.app-icon-0809 {background-position:-144px -128px;}
.app-icon.app-icon-0810 {background-position:-160px -128px;}
.app-icon.app-icon-0811 {background-position:-176px -128px;}
.app-icon.app-icon-0812 {background-position:-192px -128px;}
.app-icon.app-icon-0813 {background-position:-208px -128px;}
.app-icon.app-icon-0814 {background-position:-224px -128px;}
.app-icon.app-icon-0815 {background-position:-240px -128px;}
.app-icon.app-icon-0816 {background-position:-256px -128px;}
.app-icon.app-icon-0817 {background-position:-272px -128px;}
.app-icon.app-icon-0818 {background-position:-288px -128px;}
.app-icon.app-icon-0819 {background-position:-304px -128px;}
.app-icon.app-icon-0820 {background-position:-320px -128px;}

.app-icon.app-icon-0900 {background-position:0 -144px;}
.app-icon.app-icon-0901 {background-position:-16px -144px;}
.app-icon.app-icon-0902 {background-position:-32px -144px;}
.app-icon.app-icon-0903 {background-position:-48px -144px;}
.app-icon.app-icon-0904 {background-position:-64px -144px;}
.app-icon.app-icon-0905 {background-position:-80px -144px;}
.app-icon.app-icon-0906 {background-position:-96px -144px;}
.app-icon.app-icon-0907 {background-position:-112px -144px;}
.app-icon.app-icon-0908 {background-position:-128px -144px;}
.app-icon.app-icon-0909 {background-position:-144px -144px;}
.app-icon.app-icon-0910 {background-position:-160px -144px;}
.app-icon.app-icon-0911 {background-position:-176px -144px;}
.app-icon.app-icon-0912 {background-position:-192px -144px;}
.app-icon.app-icon-0913 {background-position:-208px -144px;}
.app-icon.app-icon-0914 {background-position:-224px -144px;}
.app-icon.app-icon-0915 {background-position:-240px -144px;}
.app-icon.app-icon-0916 {background-position:-256px -144px;}
.app-icon.app-icon-0917 {background-position:-272px -144px;}
.app-icon.app-icon-0918 {background-position:-288px -144px;}
.app-icon.app-icon-0919 {background-position:-304px -144px;}
.app-icon.app-icon-0920 {background-position:-320px -144px;}

.app-icon.app-icon-1000 {background-position:0 -160px;}
.app-icon.app-icon-1001 {background-position:-16px -160px;}
.app-icon.app-icon-1002 {background-position:-32px -160px;}
.app-icon.app-icon-1003 {background-position:-48px -160px;}
.app-icon.app-icon-1004 {background-position:-64px -160px;}
.app-icon.app-icon-1005 {background-position:-80px -160px;}
.app-icon.app-icon-1006 {background-position:-96px -160px;}
.app-icon.app-icon-1007 {background-position:-112px -160px;}
.app-icon.app-icon-1008 {background-position:-128px -160px;}
.app-icon.app-icon-1009 {background-position:-144px -160px;}
.app-icon.app-icon-1010 {background-position:-160px -160px;}
.app-icon.app-icon-1011 {background-position:-176px -160px;}
.app-icon.app-icon-1012 {background-position:-192px -160px;}
.app-icon.app-icon-1013 {background-position:-208px -160px;}
.app-icon.app-icon-1014 {background-position:-224px -160px;}
.app-icon.app-icon-1015 {background-position:-240px -160px;}
.app-icon.app-icon-1016 {background-position:-256px -160px;}
.app-icon.app-icon-1017 {background-position:-272px -160px;}
.app-icon.app-icon-1018 {background-position:-288px -160px;}
.app-icon.app-icon-1019 {background-position:-304px -160px;}
.app-icon.app-icon-1020 {background-position:-320px -160px;}

.app-icon.app-icon-1100 {background-position:0 -176px;}
.app-icon.app-icon-1101 {background-position:-16px -176px;}
.app-icon.app-icon-1102 {background-position:-32px -176px;}
.app-icon.app-icon-1103 {background-position:-48px -176px;}
.app-icon.app-icon-1104 {background-position:-64px -176px;}
.app-icon.app-icon-1105 {background-position:-80px -176px;}
.app-icon.app-icon-1106 {background-position:-96px -176px;}
.app-icon.app-icon-1107 {background-position:-112px -176px;}
.app-icon.app-icon-1108 {background-position:-128px -176px;}
.app-icon.app-icon-1109 {background-position:-144px -176px;}
.app-icon.app-icon-1110 {background-position:-160px -176px;}
.app-icon.app-icon-1111 {background-position:-176px -176px;}
.app-icon.app-icon-1112 {background-position:-192px -176px;}
.app-icon.app-icon-1113 {background-position:-208px -176px;}
.app-icon.app-icon-1114 {background-position:-224px -176px;}
.app-icon.app-icon-1115 {background-position:-240px -176px;}
.app-icon.app-icon-1116 {background-position:-256px -176px;}
.app-icon.app-icon-1117 {background-position:-272px -176px;}
.app-icon.app-icon-1118 {background-position:-288px -176px;}
.app-icon.app-icon-1119 {background-position:-304px -176px;}
.app-icon.app-icon-1120 {background-position:-320px -176px;}

.app-icon.app-icon-1200 {background-position:0 -192px;}
.app-icon.app-icon-1201 {background-position:-16px -192px;}
.app-icon.app-icon-1202 {background-position:-32px -192px;}
.app-icon.app-icon-1203 {background-position:-48px -192px;}
.app-icon.app-icon-1204 {background-position:-64px -192px;}
.app-icon.app-icon-1205 {background-position:-80px -192px;}
.app-icon.app-icon-1206 {background-position:-96px -192px;}
.app-icon.app-icon-1207 {background-position:-112px -192px;}
.app-icon.app-icon-1208 {background-position:-128px -192px;}
.app-icon.app-icon-1209 {background-position:-144px -192px;}
.app-icon.app-icon-1210 {background-position:-160px -192px;}
.app-icon.app-icon-1211 {background-position:-176px -192px;}
.app-icon.app-icon-1212 {background-position:-192px -192px;}
.app-icon.app-icon-1213 {background-position:-208px -192px;}
.app-icon.app-icon-1214 {background-position:-224px -192px;}
.app-icon.app-icon-1215 {background-position:-240px -192px;}
.app-icon.app-icon-1216 {background-position:-256px -192px;}
.app-icon.app-icon-1217 {background-position:-272px -192px;}
.app-icon.app-icon-1218 {background-position:-288px -192px;}
.app-icon.app-icon-1219 {background-position:-304px -192px;}
.app-icon.app-icon-1220 {background-position:-320px -192px;}

.app-icon.app-icon-1300 {background-position:0 -208px;}
.app-icon.app-icon-1301 {background-position:-16px -208px;}
.app-icon.app-icon-1302 {background-position:-32px -208px;}
.app-icon.app-icon-1303 {background-position:-48px -208px;}
.app-icon.app-icon-1304 {background-position:-64px -208px;}
.app-icon.app-icon-1305 {background-position:-80px -208px;}
.app-icon.app-icon-1306 {background-position:-96px -208px;}
.app-icon.app-icon-1307 {background-position:-112px -208px;}
.app-icon.app-icon-1308 {background-position:-128px -208px;}
.app-icon.app-icon-1309 {background-position:-144px -208px;}
.app-icon.app-icon-1310 {background-position:-160px -208px;}
.app-icon.app-icon-1311 {background-position:-176px -208px;}
.app-icon.app-icon-1312 {background-position:-192px -208px;}
.app-icon.app-icon-1313 {background-position:-208px -208px;}
.app-icon.app-icon-1314 {background-position:-224px -208px;}
.app-icon.app-icon-1315 {background-position:-240px -208px;}
.app-icon.app-icon-1316 {background-position:-256px -208px;}
.app-icon.app-icon-1317 {background-position:-272px -208px;}
.app-icon.app-icon-1318 {background-position:-288px -208px;}
.app-icon.app-icon-1319 {background-position:-304px -208px;}
.app-icon.app-icon-1320 {background-position:-320px -208px;}

.app-icon.app-icon-1400 {background-position:0 -224px;}
.app-icon.app-icon-1401 {background-position:-16px -224px;}
.app-icon.app-icon-1402 {background-position:-32px -224px;}
.app-icon.app-icon-1403 {background-position:-48px -224px;}
.app-icon.app-icon-1404 {background-position:-64px -224px;}
.app-icon.app-icon-1405 {background-position:-80px -224px;}
.app-icon.app-icon-1406 {background-position:-96px -224px;}
.app-icon.app-icon-1407 {background-position:-112px -224px;}
.app-icon.app-icon-1408 {background-position:-128px -224px;}
.app-icon.app-icon-1409 {background-position:-144px -224px;}
.app-icon.app-icon-1410 {background-position:-160px -224px;}
.app-icon.app-icon-1411 {background-position:-176px -224px;}
.app-icon.app-icon-1412 {background-position:-192px -224px;}
.app-icon.app-icon-1413 {background-position:-208px -224px;}
.app-icon.app-icon-1414 {background-position:-224px -224px;}
.app-icon.app-icon-1415 {background-position:-240px -224px;}
.app-icon.app-icon-1416 {background-position:-256px -224px;}
.app-icon.app-icon-1417 {background-position:-272px -224px;}
.app-icon.app-icon-1418 {background-position:-288px -224px;}
.app-icon.app-icon-1419 {background-position:-304px -224px;}
.app-icon.app-icon-1420 {background-position:-320px -224px;}

.app-icon.app-icon-1500 {background-position:0 -240px;}
.app-icon.app-icon-1501 {background-position:-16px -240px;}
.app-icon.app-icon-1502 {background-position:-32px -240px;}
.app-icon.app-icon-1503 {background-position:-48px -240px;}
.app-icon.app-icon-1504 {background-position:-64px -240px;}
.app-icon.app-icon-1505 {background-position:-80px -240px;}
.app-icon.app-icon-1506 {background-position:-96px -240px;}
.app-icon.app-icon-1507 {background-position:-112px -240px;}
.app-icon.app-icon-1508 {background-position:-128px -240px;}
.app-icon.app-icon-1509 {background-position:-144px -240px;}
.app-icon.app-icon-1510 {background-position:-160px -240px;}
.app-icon.app-icon-1511 {background-position:-176px -240px;}
.app-icon.app-icon-1512 {background-position:-192px -240px;}
.app-icon.app-icon-1513 {background-position:-208px -240px;}
.app-icon.app-icon-1514 {background-position:-224px -240px;}
.app-icon.app-icon-1515 {background-position:-240px -240px;}
.app-icon.app-icon-1516 {background-position:-256px -240px;}
.app-icon.app-icon-1517 {background-position:-272px -240px;}
.app-icon.app-icon-1518 {background-position:-288px -240px;}
.app-icon.app-icon-1519 {background-position:-304px -240px;}
.app-icon.app-icon-1520 {background-position:-320px -240px;}