/*普通样式*/
.main-left {
	
}

.oz-tree-title {
	padding: 0 2px 0 2px;
}

/*调整右边图标定位*/
.oz-tree-node {
	padding: 4px 0;
	background: #FFFFFF;
	position: relative;
	border: solid #E6E6E6;
	border-width: 1px 0;
	margin-bottom: -1px;
}

.oz-tree-node-hover {
	background: #EEEEEE;
}

.oz-tree-node-selected {
	background-color: #345797;
	font-weight: bold;
}

.oz-tree-node-selected .oz-tree-title {
	color: white;
}

.oz-tree-folder,.oz-tree-file {
	margin-left: 10px;
	margin-right: 5px;
}

/*调整展开状态的位置*/
.oz-tree-hit,.oz-tree-nothit {
	position: absolute;
	right: 0px;
	top: 5px;
}

.oz-tree-li-lt,.oz-tree-li-rt,.oz-tree-li-lb,.oz-tree-li-rb {
	display: none;
}

/*第一层的演示*/
.tree-root-bg {
	background: url(images/bg_left.jpg) #E6E6E6 repeat-x 0 -30px;
}

.tree-root-bg.oz-tree-node-selected .oz-tree-title  {
	color: black;
}

.tree-root-bg .oz-tree-title {
	font-weight: bold;
}

.tree-root-bg .oz-tree-folder,.tree-root-bg .oz-tree-file {

}