.text,a.text {
	color: #666666;
}

.widget-current .text,.widget-current a.text {
	color: #333333;
}

.titleText,a.titleText {
	color: white;
	font-weight: bold;
}

.widget-current .titleText,.widget-current a.titleText {
	color: #393836;
}

.appText a {
	color: white;
}

.widget-title {
	height: 30px;
	text-align: left;
	padding-left: 10px;
}

.widget-titleBar {
	height: 30px;
	background-color: #1B89EA;
}

.widget-current .widget-titleBar {
	
}

.widget-titleButtonBar {
	overflow: hidden;
	right: 5px;
	position: absolute;
	top: 2px;
}

.widget-toolButtonBar {
	overflow: hidden;
	left: 0;
	position: absolute;
	top: 2px;
	z-index: 10;
}

.widget-bodyArea {
	top: 0;
}

.widget-bodyOuter {
	background: #fff;;
}

a.widget-action-button {
	margin-top: 4px;
	height: 19px;
	width: 21px;
	background: url(../images/sprite.png) no-repeat -122px -22px;
}

a.widget-close {
	background-position: -400px 0px;
}

a.widget-close:hover {
	background-position: -400px -20px;
}

a.widget-max {
	background-position: -380px 0px;
}

a.widget-max:hover {
	background-position: -380px -20px;
}

a.widget-min {
	background-position: -360px 0px;
}

a.widget-min:hover {
	background-position: -360px -20px;
}

a.widget-refresh {
	background-position: -420px 0px;
}

a.widget-refresh:hover {
	background-position: -420px -20px;
}

a.widget-button {
	background: url(../images/sprite.png) 0 -80px no-repeat;
}

a.widget-button:hover {
	background-position: 0 -86px;
}

a.widget-ok {
	background-position: 0 -86px;
	margin-right: 5px;
}

a.widget-ok:hover {
	background-position: 0 -86px;
}

a.widget-cancel {
	background-position: 0 -86px;
	margin-right: 5px;
}

a.widget-cancel:hover {
	background-position: 0 -86px;
}

a.widget-previous {
	background-position: 0 -86px;
}

a.widget-previous:hover {
	background-position: 0 -86px;
}

a.widget-next {
	background-position: 0 -86px;
}

a.widget-next:hover {
	background-position: 0 -86px;
}

.widget-bg-container-ipad {
	background-color: rgba(182, 234, 253, .8);
}

.widget-current .widget-bg-container-ipad {
	background-color: rgba(182, 234, 253, 1);
}

.widget-current .widget-t {
	background-position: 0 -100px;
}

.widget-rt {
	background: url(../images/sprite.png) no-repeat -10px 0;
}

.ie6-0 .widget-rt,.ie7-0 .widget-rt {
	background-image: url(../images/sprite.png);
}

.widget-current .widget-rt {
	background-position: -30px 0;
}

.widget-r {
	background:
		url(http://5.web.qstatic.com/webqqpic/style/skin/teachersDay/images/sprite_repeat_y_png.png?t=20111011001)
		repeat-y -10px 0;
}

.widget-current .widget-r {
	background-position: -30px 0;
}

.widget-rb {
	background: url(../images/sprite.png) no-repeat -10px -10px;
}

.widget-current .widget-rb {
	background-position: -30px -10px;
}

.widget-b {
	background:
		url(http://5.web.qstatic.com/webqqpic/style/skin/teachersDay/images/sprite_repeat_x_png.png?t=20111011001)
		repeat-x 0 -90px;
}

.widget-current .widget-b {
	background-position: 0 -110px;
}

.widget-lb {
	background: url(../images/sprite.png) no-repeat 0 -10px;
}

.widget-current .widget-lb {
	background-position: -20px -10px;
}

.widget-l {
	background:
		url(http://5.web.qstatic.com/webqqpic/style/skin/teachersDay/images/sprite_repeat_y_png.png?t=20111011001)
		repeat-y 0 0;
}

.widget-current .widget-l {
	background-position: -20px 0;
}

.widget-lt {
	background: url(../images/sprite.png) no-repeat 0 0;
}

.widget-current .widget-lt {
	background-position: -20px 0;
}

.panel-1-center {
	background:
		url(http://5.web.qstatic.com/webqqpic/style/skin/teachersDay/images/panel_1_c.png?t=20111011001)
		top left repeat;
}

.panel-1-t {
	background:
		url(http://5.web.qstatic.com/webqqpic/style/skin/teachersDay/images/sprite_repeat_x_png.png?t=20111011001)
		repeat-x 0 -125px;
}

.panel-1-rt {
	background: url(../images/sprite.png) no-repeat -50px -5px;
}

.panel-1-r {
	background:
		url(http://5.web.qstatic.com/webqqpic/style/skin/teachersDay/images/sprite_repeat_y_png.png?t=20111011001)
		repeat-y -50px 0;
}

.panel-1-rb {
	background: url(../images/sprite.png) no-repeat -50px -10px;
}

.panel-1-b {
	background:
		url(http://5.web.qstatic.com/webqqpic/style/skin/teachersDay/images/sprite_repeat_x_png.png?t=20111011001)
		repeat-x 0 -130px;
}

.panel-1-lb {
	background: url(../images/sprite.png) no-repeat -45px -10px;
}

.panel-1-l {
	background:
		url(http://5.web.qstatic.com/webqqpic/style/skin/teachersDay/images/sprite_repeat_y_png.png?t=20111011001)
		repeat-y -45px 0;
}

.panel-1-lt {
	background: url(../images/sprite.png) no-repeat -45px -5px;
}

#navbar {
	height: 32px;
	_height: 28px;
}

.indicator-wrapper {
	background: url(../images/sprite.png) no-repeat -125px -3px;
	top: 0;
	position: static;
}

.indicator,.indicator-icon-bg {
	background-image: url(../images/sprite.png);
}

.no-sysbtn .indicator-wrapper {
	background-position: -140px -45px;
}

.no-sysbtn .indicator-header {
	margin-right: 6px;
}

#navbar .system-button {
	background: url(../images/sprite.png) no-repeat 134px -98px;
}

.pagelet-search-bar,.pagelet-search-button,#pagelet-search-suggest .sb-page,#pagelet-search-suggest .sb-app,#pagelet-search-suggest a:hover,#pagelet-search-suggest .rsSeledBg,.pagelet-search-pointer
	{
	background-image: url(../images/sprite.png);
}

.mobileSafari #navbar {
	width: 222px;
}

.mobileSafari #navbar .system-button {
	display: none;
	visibility: visible;
}

.widget-content{
	background: #F7F7F7;
}
.gridster .app-shortcut{
	margin: 9px;
}