/**
 * 应用的图标
 * @author ken
 * @date 2012-08-31
 */
 
 /**
* 快捷方式的的小图标
*/
[class^="shortcut-icon-"],[class*=" shortcut-icon-"] {
	display: inline-block;
	width: 64px;
	height: 64px;
	line-height: 64px;
	vertical-align: text-top;
	background-image: url(../images/icon64.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}

.shortcut-icon-0000 {background-position:0 0;}
.shortcut-icon-0001 {background-position:-64px 0;}
.shortcut-icon-0002 {background-position:-128px 0;}
.shortcut-icon-0003 {background-position:-192px 0;}
.shortcut-icon-0004 {background-position:-256px 0;}
.shortcut-icon-0005 {background-position:-320px 0;}
.shortcut-icon-0006 {background-position:-384px 0;}
.shortcut-icon-0007 {background-position:-448px 0;}
.shortcut-icon-0008 {background-position:-512px 0;}
.shortcut-icon-0009 {background-position:-576px 0;}
.shortcut-icon-0010 {background-position:-640px 0;}
.shortcut-icon-0011 {background-position:-704px 0;}
.shortcut-icon-0012 {background-position:-768px 0;}
.shortcut-icon-0013 {background-position:-832px 0;}
.shortcut-icon-0014 {background-position:-896px 0;}
.shortcut-icon-0015 {background-position:-960px 0;}
.shortcut-icon-0016 {background-position:-1024px 0;}
.shortcut-icon-0017 {background-position:-1088px 0;}
.shortcut-icon-0018 {background-position:-1152px 0;}
.shortcut-icon-0019 {background-position:-1216px 0;}
.shortcut-icon-0020 {background-position:-1280px 0;}

.shortcut-icon-0100 {background-position:0 -64px;}
.shortcut-icon-0101 {background-position:-64px -64px;}
.shortcut-icon-0102 {background-position:-128px -64px;}
.shortcut-icon-0103 {background-position:-192px -64px;}
.shortcut-icon-0104 {background-position:-256px -64px;}
.shortcut-icon-0105 {background-position:-320px -64px;}
.shortcut-icon-0106 {background-position:-384px -64px;}
.shortcut-icon-0107 {background-position:-448px -64px;}
.shortcut-icon-0108 {background-position:-512px -64px;}
.shortcut-icon-0109 {background-position:-576px -64px;}
.shortcut-icon-0110 {background-position:-640px -64px;}
.shortcut-icon-0111 {background-position:-704px -64px;}
.shortcut-icon-0112 {background-position:-768px -64px;}
.shortcut-icon-0113 {background-position:-832px -64px;}
.shortcut-icon-0114 {background-position:-896px -64px;}
.shortcut-icon-0115 {background-position:-960px -64px;}
.shortcut-icon-0116 {background-position:-1024px -64px;}
.shortcut-icon-0117 {background-position:-1088px -64px;}
.shortcut-icon-0118 {background-position:-1152px -64px;}
.shortcut-icon-0119 {background-position:-1216px -64px;}
.shortcut-icon-0120 {background-position:-1280px -64px;}

.shortcut-icon-0200 {background-position:0 -128px;}
.shortcut-icon-0201 {background-position:-64px -128px;}
.shortcut-icon-0202 {background-position:-128px -128px;}
.shortcut-icon-0203 {background-position:-192px -128px;}
.shortcut-icon-0204 {background-position:-256px -128px;}
.shortcut-icon-0205 {background-position:-320px -128px;}
.shortcut-icon-0206 {background-position:-384px -128px;}
.shortcut-icon-0207 {background-position:-448px -128px;}
.shortcut-icon-0208 {background-position:-512px -128px;}
.shortcut-icon-0209 {background-position:-576px -128px;}
.shortcut-icon-0210 {background-position:-640px -128px;}
.shortcut-icon-0211 {background-position:-704px -128px;}
.shortcut-icon-0212 {background-position:-768px -128px;}
.shortcut-icon-0213 {background-position:-832px -128px;}
.shortcut-icon-0214 {background-position:-896px -128px;}
.shortcut-icon-0215 {background-position:-960px -128px;}
.shortcut-icon-0216 {background-position:-1024px -128px;}
.shortcut-icon-0217 {background-position:-1088px -128px;}
.shortcut-icon-0218 {background-position:-1152px -128px;}
.shortcut-icon-0219 {background-position:-1216px -128px;}
.shortcut-icon-0220 {background-position:-1280px -128px;}

.shortcut-icon-0300 {background-position:0 -192px;}
.shortcut-icon-0301 {background-position:-64px -192px;}
.shortcut-icon-0302 {background-position:-128px -192px;}
.shortcut-icon-0303 {background-position:-192px -192px;}
.shortcut-icon-0304 {background-position:-256px -192px;}
.shortcut-icon-0305 {background-position:-320px -192px;}
.shortcut-icon-0306 {background-position:-384px -192px;}
.shortcut-icon-0307 {background-position:-448px -192px;}
.shortcut-icon-0308 {background-position:-512px -192px;}
.shortcut-icon-0309 {background-position:-576px -192px;}
.shortcut-icon-0310 {background-position:-640px -192px;}
.shortcut-icon-0311 {background-position:-704px -192px;}
.shortcut-icon-0312 {background-position:-768px -192px;}
.shortcut-icon-0313 {background-position:-832px -192px;}
.shortcut-icon-0314 {background-position:-896px -192px;}
.shortcut-icon-0315 {background-position:-960px -192px;}
.shortcut-icon-0316 {background-position:-1024px -192px;}
.shortcut-icon-0317 {background-position:-1088px -192px;}
.shortcut-icon-0318 {background-position:-1152px -192px;}
.shortcut-icon-0319 {background-position:-1216px -192px;}
.shortcut-icon-0320 {background-position:-1280px -192px;}

.shortcut-icon-0400 {background-position:0 -256px;}
.shortcut-icon-0401 {background-position:-64px -256px;}
.shortcut-icon-0402 {background-position:-128px -256px;}
.shortcut-icon-0403 {background-position:-192px -256px;}
.shortcut-icon-0404 {background-position:-256px -256px;}
.shortcut-icon-0405 {background-position:-320px -256px;}
.shortcut-icon-0406 {background-position:-384px -256px;}
.shortcut-icon-0407 {background-position:-448px -256px;}
.shortcut-icon-0408 {background-position:-512px -256px;}
.shortcut-icon-0409 {background-position:-576px -256px;}
.shortcut-icon-0410 {background-position:-640px -256px;}
.shortcut-icon-0411 {background-position:-704px -256px;}
.shortcut-icon-0412 {background-position:-768px -256px;}
.shortcut-icon-0413 {background-position:-832px -256px;}
.shortcut-icon-0414 {background-position:-896px -256px;}
.shortcut-icon-0415 {background-position:-960px -256px;}
.shortcut-icon-0416 {background-position:-1024px -256px;}
.shortcut-icon-0417 {background-position:-1088px -256px;}
.shortcut-icon-0418 {background-position:-1152px -256px;}
.shortcut-icon-0419 {background-position:-1216px -256px;}
.shortcut-icon-0420 {background-position:-1280px -256px;}

.shortcut-icon-0500 {background-position:0 -320px;}
.shortcut-icon-0501 {background-position:-64px -320px;}
.shortcut-icon-0502 {background-position:-128px -320px;}
.shortcut-icon-0503 {background-position:-192px -320px;}
.shortcut-icon-0504 {background-position:-256px -320px;}
.shortcut-icon-0505 {background-position:-320px -320px;}
.shortcut-icon-0506 {background-position:-384px -320px;}
.shortcut-icon-0507 {background-position:-448px -320px;}
.shortcut-icon-0508 {background-position:-512px -320px;}
.shortcut-icon-0509 {background-position:-576px -320px;}
.shortcut-icon-0510 {background-position:-640px -320px;}
.shortcut-icon-0511 {background-position:-704px -320px;}
.shortcut-icon-0512 {background-position:-768px -320px;}
.shortcut-icon-0513 {background-position:-832px -320px;}
.shortcut-icon-0514 {background-position:-896px -320px;}
.shortcut-icon-0515 {background-position:-960px -320px;}
.shortcut-icon-0516 {background-position:-1024px -320px;}
.shortcut-icon-0517 {background-position:-1088px -320px;}
.shortcut-icon-0518 {background-position:-1152px -320px;}
.shortcut-icon-0519 {background-position:-1216px -320px;}
.shortcut-icon-0520 {background-position:-1280px -320px;}

.shortcut-icon-0600 {background-position:0 -384px;}
.shortcut-icon-0601 {background-position:-64px -384px;}
.shortcut-icon-0602 {background-position:-128px -384px;}
.shortcut-icon-0603 {background-position:-192px -384px;}
.shortcut-icon-0604 {background-position:-256px -384px;}
.shortcut-icon-0605 {background-position:-320px -384px;}
.shortcut-icon-0606 {background-position:-384px -384px;}
.shortcut-icon-0607 {background-position:-448px -384px;}
.shortcut-icon-0608 {background-position:-512px -384px;}
.shortcut-icon-0609 {background-position:-576px -384px;}
.shortcut-icon-0610 {background-position:-640px -384px;}
.shortcut-icon-0611 {background-position:-704px -384px;}
.shortcut-icon-0612 {background-position:-768px -384px;}
.shortcut-icon-0613 {background-position:-832px -384px;}
.shortcut-icon-0614 {background-position:-896px -384px;}
.shortcut-icon-0615 {background-position:-960px -384px;}
.shortcut-icon-0616 {background-position:-1024px -384px;}
.shortcut-icon-0617 {background-position:-1088px -384px;}
.shortcut-icon-0618 {background-position:-1152px -384px;}
.shortcut-icon-0619 {background-position:-1216px -384px;}
.shortcut-icon-0620 {background-position:-1280px -384px;}

.shortcut-icon-0700 {background-position:0 -448px;}
.shortcut-icon-0701 {background-position:-64px -448px;}
.shortcut-icon-0702 {background-position:-128px -448px;}
.shortcut-icon-0703 {background-position:-192px -448px;}
.shortcut-icon-0704 {background-position:-256px -448px;}
.shortcut-icon-0705 {background-position:-320px -448px;}
.shortcut-icon-0706 {background-position:-384px -448px;}
.shortcut-icon-0707 {background-position:-448px -448px;}
.shortcut-icon-0708 {background-position:-512px -448px;}
.shortcut-icon-0709 {background-position:-576px -448px;}
.shortcut-icon-0710 {background-position:-640px -448px;}
.shortcut-icon-0711 {background-position:-704px -448px;}
.shortcut-icon-0712 {background-position:-768px -448px;}
.shortcut-icon-0713 {background-position:-832px -448px;}
.shortcut-icon-0714 {background-position:-896px -448px;}
.shortcut-icon-0715 {background-position:-960px -448px;}
.shortcut-icon-0716 {background-position:-1024px -448px;}
.shortcut-icon-0717 {background-position:-1088px -448px;}
.shortcut-icon-0718 {background-position:-1152px -448px;}
.shortcut-icon-0719 {background-position:-1216px -448px;}
.shortcut-icon-0720 {background-position:-1280px -448px;}

.shortcut-icon-0800 {background-position:0 -512px;}
.shortcut-icon-0801 {background-position:-64px -512px;}
.shortcut-icon-0802 {background-position:-128px -512px;}
.shortcut-icon-0803 {background-position:-192px -512px;}
.shortcut-icon-0804 {background-position:-256px -512px;}
.shortcut-icon-0805 {background-position:-320px -512px;}
.shortcut-icon-0806 {background-position:-384px -512px;}
.shortcut-icon-0807 {background-position:-448px -512px;}
.shortcut-icon-0808 {background-position:-512px -512px;}
.shortcut-icon-0809 {background-position:-576px -512px;}
.shortcut-icon-0810 {background-position:-640px -512px;}
.shortcut-icon-0811 {background-position:-704px -512px;}
.shortcut-icon-0812 {background-position:-768px -512px;}
.shortcut-icon-0813 {background-position:-832px -512px;}
.shortcut-icon-0814 {background-position:-896px -512px;}
.shortcut-icon-0815 {background-position:-960px -512px;}
.shortcut-icon-0816 {background-position:-1024px -512px;}
.shortcut-icon-0817 {background-position:-1088px -512px;}
.shortcut-icon-0818 {background-position:-1152px -512px;}
.shortcut-icon-0819 {background-position:-1216px -512px;}
.shortcut-icon-0820 {background-position:-1280px -512px;}

.shortcut-icon-0900 {background-position:0 -576px;}
.shortcut-icon-0901 {background-position:-64px -576px;}
.shortcut-icon-0902 {background-position:-128px -576px;}
.shortcut-icon-0903 {background-position:-192px -576px;}
.shortcut-icon-0904 {background-position:-256px -576px;}
.shortcut-icon-0905 {background-position:-320px -576px;}
.shortcut-icon-0906 {background-position:-384px -576px;}
.shortcut-icon-0907 {background-position:-448px -576px;}
.shortcut-icon-0908 {background-position:-512px -576px;}
.shortcut-icon-0909 {background-position:-576px -576px;}
.shortcut-icon-0910 {background-position:-640px -576px;}
.shortcut-icon-0911 {background-position:-704px -576px;}
.shortcut-icon-0912 {background-position:-768px -576px;}
.shortcut-icon-0913 {background-position:-832px -576px;}
.shortcut-icon-0914 {background-position:-896px -576px;}
.shortcut-icon-0915 {background-position:-960px -576px;}
.shortcut-icon-0916 {background-position:-1024px -576px;}
.shortcut-icon-0917 {background-position:-1088px -576px;}
.shortcut-icon-0918 {background-position:-1152px -576px;}
.shortcut-icon-0919 {background-position:-1216px -576px;}
.shortcut-icon-0920 {background-position:-1280px -576px;}

.shortcut-icon-1000 {background-position:0 -640px;}
.shortcut-icon-1001 {background-position:-64px -640px;}
.shortcut-icon-1002 {background-position:-128px -640px;}
.shortcut-icon-1003 {background-position:-192px -640px;}
.shortcut-icon-1004 {background-position:-256px -640px;}
.shortcut-icon-1005 {background-position:-320px -640px;}
.shortcut-icon-1006 {background-position:-384px -640px;}
.shortcut-icon-1007 {background-position:-448px -640px;}
.shortcut-icon-1008 {background-position:-512px -640px;}
.shortcut-icon-1009 {background-position:-576px -640px;}
.shortcut-icon-1010 {background-position:-640px -640px;}
.shortcut-icon-1011 {background-position:-704px -640px;}
.shortcut-icon-1012 {background-position:-768px -640px;}
.shortcut-icon-1013 {background-position:-832px -640px;}
.shortcut-icon-1014 {background-position:-896px -640px;}
.shortcut-icon-1015 {background-position:-960px -640px;}
.shortcut-icon-1016 {background-position:-1024px -640px;}
.shortcut-icon-1017 {background-position:-1088px -640px;}
.shortcut-icon-1018 {background-position:-1152px -640px;}
.shortcut-icon-1019 {background-position:-1216px -640px;}
.shortcut-icon-1020 {background-position:-1280px -640px;}



/**
* 插件左上角的小图标
*/
[class^="widget-icon-"],[class*=" widget-icon-"] {
	display: inline-block;	
	width: 24px;	
	height:  24px;	 
	line-height:  24px;	
	vertical-align: middle;	
	background-image: url(../images/icon24.png);	
	background-position: 0 0;	
	background-repeat: no-repeat;	
}
.widget-icon-0000 {background-position:0 0;}
.widget-icon-0001 {background-position:-24px 0;}
.widget-icon-0002 {background-position:-48px 0;}
.widget-icon-0003 {background-position:-72px 0;}
.widget-icon-0004 {background-position:-96px 0;}
.widget-icon-0005 {background-position:-120px 0;}
.widget-icon-0006 {background-position:-144px 0;}
.widget-icon-0007 {background-position:-168px 0;}
.widget-icon-0008 {background-position:-192px 0;}
.widget-icon-0009 {background-position:-216px 0;}
.widget-icon-0010 {background-position:-240px 0;}
.widget-icon-0011 {background-position:-264px 0;}
.widget-icon-0012 {background-position:-288px 0;}
.widget-icon-0013 {background-position:-312px 0;}
.widget-icon-0014 {background-position:-336px 0;}
.widget-icon-0015 {background-position:-360px 0;}
.widget-icon-0016 {background-position:-384px 0;}
.widget-icon-0017 {background-position:-408px 0;}
.widget-icon-0018 {background-position:-432px 0;}
.widget-icon-0019 {background-position:-456px 0;}
.widget-icon-0020 {background-position:-480px 0;}

.widget-icon-0100 {background-position:0 -24px;}
.widget-icon-0101 {background-position:-24px -24px;}
.widget-icon-0102 {background-position:-48px -24px;}
.widget-icon-0103 {background-position:-72px -24px;}
.widget-icon-0104 {background-position:-96px -24px;}
.widget-icon-0105 {background-position:-120px -24px;}
.widget-icon-0106 {background-position:-144px -24px;}
.widget-icon-0107 {background-position:-168px -24px;}
.widget-icon-0108 {background-position:-192px -24px;}
.widget-icon-0109 {background-position:-216px -24px;}
.widget-icon-0110 {background-position:-240px -24px;}
.widget-icon-0111 {background-position:-264px -24px;}
.widget-icon-0112 {background-position:-288px -24px;}
.widget-icon-0113 {background-position:-312px -24px;}
.widget-icon-0114 {background-position:-336px -24px;}
.widget-icon-0115 {background-position:-360px -24px;}
.widget-icon-0116 {background-position:-384px -24px;}
.widget-icon-0117 {background-position:-408px -24px;}
.widget-icon-0118 {background-position:-432px -24px;}
.widget-icon-0119 {background-position:-456px -24px;}
.widget-icon-0120 {background-position:-480px -24px;}

.widget-icon-0200 {background-position:0 -48px;}
.widget-icon-0201 {background-position:-24px -48px;}
.widget-icon-0202 {background-position:-48px -48px;}
.widget-icon-0203 {background-position:-72px -48px;}
.widget-icon-0204 {background-position:-96px -48px;}
.widget-icon-0205 {background-position:-120px -48px;}
.widget-icon-0206 {background-position:-144px -48px;}
.widget-icon-0207 {background-position:-168px -48px;}
.widget-icon-0208 {background-position:-192px -48px;}
.widget-icon-0209 {background-position:-216px -48px;}
.widget-icon-0210 {background-position:-240px -48px;}
.widget-icon-0211 {background-position:-264px -48px;}
.widget-icon-0212 {background-position:-288px -48px;}
.widget-icon-0213 {background-position:-312px -48px;}
.widget-icon-0214 {background-position:-336px -48px;}
.widget-icon-0215 {background-position:-360px -48px;}
.widget-icon-0216 {background-position:-384px -48px;}
.widget-icon-0217 {background-position:-408px -48px;}
.widget-icon-0218 {background-position:-432px -48px;}
.widget-icon-0219 {background-position:-456px -48px;}
.widget-icon-0220 {background-position:-480px -48px;}

.widget-icon-0300 {background-position:0 -72px;}
.widget-icon-0301 {background-position:-24px -72px;}
.widget-icon-0302 {background-position:-48px -72px;}
.widget-icon-0303 {background-position:-72px -72px;}
.widget-icon-0304 {background-position:-96px -72px;}
.widget-icon-0305 {background-position:-120px -72px;}
.widget-icon-0306 {background-position:-144px -72px;}
.widget-icon-0307 {background-position:-168px -72px;}
.widget-icon-0308 {background-position:-192px -72px;}
.widget-icon-0309 {background-position:-216px -72px;}
.widget-icon-0310 {background-position:-240px -72px;}
.widget-icon-0311 {background-position:-264px -72px;}
.widget-icon-0312 {background-position:-288px -72px;}
.widget-icon-0313 {background-position:-312px -72px;}
.widget-icon-0314 {background-position:-336px -72px;}
.widget-icon-0315 {background-position:-360px -72px;}
.widget-icon-0316 {background-position:-384px -72px;}
.widget-icon-0317 {background-position:-408px -72px;}
.widget-icon-0318 {background-position:-432px -72px;}
.widget-icon-0319 {background-position:-456px -72px;}
.widget-icon-0320 {background-position:-480px -72px;}

.widget-icon-0400 {background-position:0 -96px;}
.widget-icon-0401 {background-position:-24px -96px;}
.widget-icon-0402 {background-position:-48px -96px;}
.widget-icon-0403 {background-position:-72px -96px;}
.widget-icon-0404 {background-position:-96px -96px;}
.widget-icon-0405 {background-position:-120px -96px;}
.widget-icon-0406 {background-position:-144px -96px;}
.widget-icon-0407 {background-position:-168px -96px;}
.widget-icon-0408 {background-position:-192px -96px;}
.widget-icon-0409 {background-position:-216px -96px;}
.widget-icon-0410 {background-position:-240px -96px;}
.widget-icon-0411 {background-position:-264px -96px;}
.widget-icon-0412 {background-position:-288px -96px;}
.widget-icon-0413 {background-position:-312px -96px;}
.widget-icon-0414 {background-position:-336px -96px;}
.widget-icon-0415 {background-position:-360px -96px;}
.widget-icon-0416 {background-position:-384px -96px;}
.widget-icon-0417 {background-position:-408px -96px;}
.widget-icon-0418 {background-position:-432px -96px;}
.widget-icon-0419 {background-position:-456px -96px;}
.widget-icon-0420 {background-position:-480px -96px;}

.widget-icon-0500 {background-position:0 -120px;}
.widget-icon-0501 {background-position:-24px -120px;}
.widget-icon-0502 {background-position:-48px -120px;}
.widget-icon-0503 {background-position:-72px -120px;}
.widget-icon-0504 {background-position:-96px -120px;}
.widget-icon-0505 {background-position:-120px -120px;}
.widget-icon-0506 {background-position:-144px -120px;}
.widget-icon-0507 {background-position:-168px -120px;}
.widget-icon-0508 {background-position:-192px -120px;}
.widget-icon-0509 {background-position:-216px -120px;}
.widget-icon-0510 {background-position:-240px -120px;}
.widget-icon-0511 {background-position:-264px -120px;}
.widget-icon-0512 {background-position:-288px -120px;}
.widget-icon-0513 {background-position:-312px -120px;}
.widget-icon-0514 {background-position:-336px -120px;}
.widget-icon-0515 {background-position:-360px -120px;}
.widget-icon-0516 {background-position:-384px -120px;}
.widget-icon-0517 {background-position:-408px -120px;}
.widget-icon-0518 {background-position:-432px -120px;}
.widget-icon-0519 {background-position:-456px -120px;}
.widget-icon-0520 {background-position:-480px -120px;}

.widget-icon-0600 {background-position:0 -144px;}
.widget-icon-0601 {background-position:-24px -144px;}
.widget-icon-0602 {background-position:-48px -144px;}
.widget-icon-0603 {background-position:-72px -144px;}
.widget-icon-0604 {background-position:-96px -144px;}
.widget-icon-0605 {background-position:-120px -144px;}
.widget-icon-0606 {background-position:-144px -144px;}
.widget-icon-0607 {background-position:-168px -144px;}
.widget-icon-0608 {background-position:-192px -144px;}
.widget-icon-0609 {background-position:-216px -144px;}
.widget-icon-0610 {background-position:-240px -144px;}
.widget-icon-0611 {background-position:-264px -144px;}
.widget-icon-0612 {background-position:-288px -144px;}
.widget-icon-0613 {background-position:-312px -144px;}
.widget-icon-0614 {background-position:-336px -144px;}
.widget-icon-0615 {background-position:-360px -144px;}
.widget-icon-0616 {background-position:-384px -144px;}
.widget-icon-0617 {background-position:-408px -144px;}
.widget-icon-0618 {background-position:-432px -144px;}
.widget-icon-0619 {background-position:-456px -144px;}
.widget-icon-0620 {background-position:-480px -144px;}

.widget-icon-0700 {background-position:0 -168px;}
.widget-icon-0701 {background-position:-24px -168px;}
.widget-icon-0702 {background-position:-48px -168px;}
.widget-icon-0703 {background-position:-72px -168px;}
.widget-icon-0704 {background-position:-96px -168px;}
.widget-icon-0705 {background-position:-120px -168px;}
.widget-icon-0706 {background-position:-144px -168px;}
.widget-icon-0707 {background-position:-168px -168px;}
.widget-icon-0708 {background-position:-192px -168px;}
.widget-icon-0709 {background-position:-216px -168px;}
.widget-icon-0710 {background-position:-240px -168px;}
.widget-icon-0711 {background-position:-264px -168px;}
.widget-icon-0712 {background-position:-288px -168px;}
.widget-icon-0713 {background-position:-312px -168px;}
.widget-icon-0714 {background-position:-336px -168px;}
.widget-icon-0715 {background-position:-360px -168px;}
.widget-icon-0716 {background-position:-384px -168px;}
.widget-icon-0717 {background-position:-408px -168px;}
.widget-icon-0718 {background-position:-432px -168px;}
.widget-icon-0719 {background-position:-456px -168px;}
.widget-icon-0720 {background-position:-480px -168px;}

.widget-icon-0800 {background-position:0 -192px;}
.widget-icon-0801 {background-position:-24px -192px;}
.widget-icon-0802 {background-position:-48px -192px;}
.widget-icon-0803 {background-position:-72px -192px;}
.widget-icon-0804 {background-position:-96px -192px;}
.widget-icon-0805 {background-position:-120px -192px;}
.widget-icon-0806 {background-position:-144px -192px;}
.widget-icon-0807 {background-position:-168px -192px;}
.widget-icon-0808 {background-position:-192px -192px;}
.widget-icon-0809 {background-position:-216px -192px;}
.widget-icon-0810 {background-position:-240px -192px;}
.widget-icon-0811 {background-position:-264px -192px;}
.widget-icon-0812 {background-position:-288px -192px;}
.widget-icon-0813 {background-position:-312px -192px;}
.widget-icon-0814 {background-position:-336px -192px;}
.widget-icon-0815 {background-position:-360px -192px;}
.widget-icon-0816 {background-position:-384px -192px;}
.widget-icon-0817 {background-position:-408px -192px;}
.widget-icon-0818 {background-position:-432px -192px;}
.widget-icon-0819 {background-position:-456px -192px;}
.widget-icon-0820 {background-position:-480px -192px;}

.widget-icon-0900 {background-position:0 -216px;}
.widget-icon-0901 {background-position:-24px -216px;}
.widget-icon-0902 {background-position:-48px -216px;}
.widget-icon-0903 {background-position:-72px -216px;}
.widget-icon-0904 {background-position:-96px -216px;}
.widget-icon-0905 {background-position:-120px -216px;}
.widget-icon-0906 {background-position:-144px -216px;}
.widget-icon-0907 {background-position:-168px -216px;}
.widget-icon-0908 {background-position:-192px -216px;}
.widget-icon-0909 {background-position:-216px -216px;}
.widget-icon-0910 {background-position:-240px -216px;}
.widget-icon-0911 {background-position:-264px -216px;}
.widget-icon-0912 {background-position:-288px -216px;}
.widget-icon-0913 {background-position:-312px -216px;}
.widget-icon-0914 {background-position:-336px -216px;}
.widget-icon-0915 {background-position:-360px -216px;}
.widget-icon-0916 {background-position:-384px -216px;}
.widget-icon-0917 {background-position:-408px -216px;}
.widget-icon-0918 {background-position:-432px -216px;}
.widget-icon-0919 {background-position:-456px -216px;}
.widget-icon-0920 {background-position:-480px -216px;}

.widget-icon-1000 {background-position:0 -240px;}
.widget-icon-1001 {background-position:-24px -240px;}
.widget-icon-1002 {background-position:-48px -240px;}
.widget-icon-1003 {background-position:-72px -240px;}
.widget-icon-1004 {background-position:-96px -240px;}
.widget-icon-1005 {background-position:-120px -240px;}
.widget-icon-1006 {background-position:-144px -240px;}
.widget-icon-1007 {background-position:-168px -240px;}
.widget-icon-1008 {background-position:-192px -240px;}
.widget-icon-1009 {background-position:-216px -240px;}
.widget-icon-1010 {background-position:-240px -240px;}
.widget-icon-1011 {background-position:-264px -240px;}
.widget-icon-1012 {background-position:-288px -240px;}
.widget-icon-1013 {background-position:-312px -240px;}
.widget-icon-1014 {background-position:-336px -240px;}
.widget-icon-1015 {background-position:-360px -240px;}
.widget-icon-1016 {background-position:-384px -240px;}
.widget-icon-1017 {background-position:-408px -240px;}
.widget-icon-1018 {background-position:-432px -240px;}
.widget-icon-1019 {background-position:-456px -240px;}
.widget-icon-1020 {background-position:-480px -240px;}

