<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
	default-lazy-init="true">
	<bean id="fileNumberDao" class="cn.suntak.ems.filenumber.dao.hibernate.FileNumberDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="fileNumberService" parent="txProxyTemplate">
		<property name="target">
			<bean id="fileNoServiceTarget" class="cn.suntak.ems.filenumber.service.FileNumberServiceImpl">
				<property name="sysAdminVerifier" ref="sysAdminVerifier"/>
				<property name="unitAdminVerifier" ref="unitAdminVerifier"/>
			</bean>
		</property>
	</bean>
	
</beans>